* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	background: #ffffff;
}

#container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}




.lgacc-tab {
	list-style: none;
	display: flex; /* Use flexbox for horizontal alignment */
	justify-content: center; /* Center the items horizontally */
	
}

.tab-item {
	margin-right: 10px; /* Optional: Adjust the spacing between items */
}

