<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
	<insert id="cart">
		insert into order_info
		(ADDRESS, EA, RECIEVER, REQUEST_MSG, PROD_ID, PHONE, PRICE)
		values (#{address}, #{ea}, #{reciever}, #{request_msg}, #{prod_id}, #{phone}, (select price from product where prod_id=#{prod_id}))
	</insert>
	<select id="price">
	select price from product where prod_id=#{prod_id}
	</select>
</mapper>