<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sensor">
	<select id="insert">
		CALL INSERT_DATAS(#{dust},#{dust_sensor_id},#{gas},#{gas_sensor_id},#{fire},#{fire_sensor_id},#{temp},#{humid},#{temp_sensor_id},#{user_id})
	</select>
	<select id="info" resultType="sensVO">
		select * 
		from product 
		where prod_id = ${id}
	</select>
	<select id="user_sensor_list" resultType="userSensorVO">
		select * from sensor where user_id = #{user_id}
	</select>
	<select id="cctvurl" resultType="String">
		select url from cctv_link where sensor_id = #{sensor_id}
	</select>
	<select id="datas" resultType="datasVO">
		select ID, USER_ID, SENSOR_ID, SENSOR_DATA1, SENSOR_DATA2, DATA_NAME1, DATA_NAME2, TIME from datas where sensor_id = #{sensor_id} order by time
	</select>
</mapper>