@charset "EUC-KR";

.search-icon {
	position: relative;
	right: 22px;
	display: none;
}

.search:focus {
	border-color: var(- -bs-primary);
}

.search-filter-content{
	border: 1px solid lightgray;
	background: white;
}

.shop-item:hover {
	border: 1px solid lightgray;
}

.shop-item {
	border: none;
}